
*{
    box-sizing: border-box;
}
ul {
    color: white;
    font-size: 24px;
    padding-left: 150px;
}
li{
    padding-bottom: 50px;
    font-size: 34px;
}
h4 {
    font-size: 64px;
    padding: 30px 50px;
}

.parent {
    width: 100%;
}  
div:nth-child(2) {
    width: 40%;
    background: #241932;
    text-align: center;
}
.child {
    background: #160729;
    color: white;
    width: 100%;
}

.img {
    width: 450px;
    position: relative;
    top: 130px;
}
@media (min-width: 960px){
    .parent {
        background: purple;
        display: flex;
    }     
    div:nth-child(2) {
        width: 50%;
    }  
}

@media all and (max-width: 959px) {
    ul {
        padding-left: 80px;
    }
    h4 {
        font-size: 34px;
    }
    div:nth-child(2) {
        width: 100%;
    }
    .img {
        width: 200px;
        top: 0px;
    }
    .listPerks li {
        padding-bottom: 28px;
        font-size: 15px;
    }
}