<div class="home-2">
    <div class="parent">
        <div class="child">
            <h4>O que você encontra aqui:</h4>
            <ul>
                <li *ngFor="let sentence of sobre">
                    {{ sentence }}
                </li>
            </ul>
        </div>
        <div class="child">
            <img src="../../../assets/images/pokedex.png" class="img">
        </div>
    </div>
    
</div>


<!-- <div class="home-2" style="color: white;">
    <div class="left">
        <h4>O que você encontra aqui:</h4>
        <div class="container">
            <ul>
                <li *ngFor="let sentence of sobre">
                    {{ sentence }}
                </li>
            </ul>
        </div>
    </div>
   
</div> -->
